html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;

  background: #121212;
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
